/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,500;0,700;1,100&display=swap'); */

/* Reset and basic styles */ 
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html, body{
  font-family: 'Poppins', sans-serif;
}

/* Header styles */
header {
  /* background-image: ; */
  background-color:lightblue;
  color:#B27657;
  padding: 10px;
  text-align: center;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  height:120px;
}

.logo {
  /* max-width: 150px; */
  width: 150px;
  height:auto;
  border-radius: 50px;
  margin-right: 80px;

}
/* margikn left 40 */

/* Navigation styles */
nav {
  background-color:#A3672B;
  /* overflow: hidden; */
  text-align: center;
  height: auto;
}
a{
  text-decoration: none;
  color: black;
}
nav a {
  display: inline-block;
  color:white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-weight:500;
  font-size:20px;
}
nav a:hover {
  border: 1.5px solid white;
  padding: 16px 14px;
}

nav a:hover.border {
background-color:white;
  color: black;
}


.search-bar {
  display: flex;
  justify-content: center; 
  max-width: 600px;
  margin: 0 auto;
  border-radius: 50px;
}

.search-input {
  width: 100%; 
  padding: 10px;
}

/* Search box */
.search-box {
  width: 60%; 
  background: #fff;
  border-radius: 20px;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px;
}

input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  color: #333;
}
button{
  background: transparent;
  border: 0;
  outline: 0;
}
button .fa-solid{
  width: 25px;
  color: #555;
  /* font-size: 22px; */
  cursor: pointer;
}
::placeholder{
  color: #555;
}

.result-box ul{
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.result-box ul li{
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.result-box ul li:hover{
  background-color: #e9f3ff;
  color: black;
  font-weight: 600;
}
.border-top{
  border-radius: 20px 20px 0 0 !important;
}
/* width */
.result-box::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.result-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.result-box::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.result-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.result-box {
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  background: white;
  z-index: 999;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}

/* Dropdown styles */
.dropdown {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.dropdown .dropbtn:hover{
  border: 1.5px solid white; 
   padding: 16px 14px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
  font-weight:500;
  font-size:20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 10px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  
}
.dropbtn a:hover{
  border: none;

}

.dropdown:hover .dropdown-content {
  display: block;
  
}

/* facebook,youtube,ig icons */

.icons1 {
  position: relative;
 
  left: 20px;
}

.icons1 i {
  font-size: 32px;
  align-items: center;
  color: black;
}

.icons1 {
  display: flex;
  gap: 30px; /* Adjust the gap between icons as needed */
  margin: 0 auto;
}

.icons1 button {
  background: none;
  border: none;
  cursor: pointer;
}


  
/* Mobile menu styles */
.mobile-menu {
  display: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}
#input-box[type="text"]::placeholder {
  font-style: italic;
}

/* ==========About section==== */
.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;

}
.heading h1{
  font-size: 50px;
  color: #000;
  position: relative;
  margin-bottom: 25px;
}

.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color:lightskyblue;
}
.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.container11{
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px ;
  background-color:lightblue;
  /* border-radius: 50px; */
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  border-radius: 100px;
}
.about-image img{
  max-width: 100%;
  height: 100%;
  display: block;
  
  transition: all .6s ease-in-out;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color:black;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color:black;
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color:lightblue;
  color:black;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: all .6s ease-in-out;
}

.about-content .read-more:hover{
  background-color:lightblue;
  color:white;
}

.container-1{
  width: 100%;
  /* margin: 0 auto; */
  padding: 10px 20px ;
  /* background-color:lightblue; */
  /* border-radius: 50px; */
}



nav {
  display: block ;
}

/* Media query for responsive design */
/* @media screen and (max-width: 1024px) {
  body{
    background-attachment: fixed;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    width: 100%;
  }
  .nav-show{
    display: block !important;
  }
  .search-box{
    width: 70%;
  }
  nav a {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .search-bar {
    max-width: 100%;
  }
} */

/* new updateted Media design for header by tayya */
@media screen and (max-width: 1024px) {
  body {
    background-attachment: fixed;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    width: 100%;
  }

  .nav-show {
    display: flex !important;
  }

  .search-box {
    width: 60%;
    margin: 10px auto;
  }

  .search-box input {
    width: 100%;
    box-sizing: border-box;
  }

  nav a {
    display: block;
  }

  .mobile-menu {
    display: block;
    margin-top: -2px;
    width: 20%;
  }

  .search-bar {
    max-width: 100%;
  }
  .logoDiv {
    width: 20%;
  }

  .logo {
    width: 100%;
    height: auto;
  }
  
  /* Hide social media icons */
  .icons1 {
    display: none;
  }
}



/* Pagination links */
.pagination {
  align-items: center;
  display: flex;
  justify-content: center; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: all .6s ease-in-out;
}

.pagination a.active {
  background-color:lightblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
/* ==================================================== */
 /* ===================product page========================== */
  /* ================================================== */
 #product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-top: 60px;  */
}

.product-container {
  box-shadow: 0 8px 16px rgba(0, 0, 255, 0.2); 
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  width: calc(33.333% - 40px);
  max-width: 300px;
  transition: all .6s ease-in-out;
  
}

.product-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 255, 0.2); 
}


.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
  
}
.product-details h3{
  font-size: 22px;
}

/* ===========buy-button/View details Button======= */
.buy-button,
#View-details {
    display: block;
    width: 100%;
    height: auto;
    padding: 8px;
    margin: 6px;
    gap: 2px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    
}

.buy-button {
  border: 1px solid black;
  background-color: lightskyblue;
  color: black;
  transition: none;
}

.buy-button a {
    display: block;
    width: 100%;
    height: 100%;
    color:black;
    text-decoration: none;
    font-size: 20px;
}

.buy-button:hover {
    background-color:black;
    color:white;
    transition: none;
}


#View-details:hover{
  background-color:black;
  color: white;
  transition: none;
}

.buy-button a:hover {

  color: white;
  transition: none;
}
#View-details a:hover{

  color:white;
  transition: none;
}

#View-details {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightskyblue;

}

#View-details a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}


@media (max-width: 1024px) {
  .product-container {
    width: calc(25% - 40px);
  }
}

@media (max-width: 768px) {
  .product-container {
    width: calc(33.333% - 40px);
  }

 
} 

/* Mobile screens - 2 products in one row */
@media (max-width: 480px) {
  .product-container {
    width: calc(50% - 20px);
    margin: 10px;
  }

  #product-list {
    margin-top: 20px;
  }
}


/* Responsive Styles for Laptops and Medium Screens */
@media screen and (max-width: 1024px) {
  .about {
     flex-direction: column;
  }

  .about-image {
    height: fit-content;
    width:fit-content;
     margin-right: 0;
     margin-bottom: 20px;
  }
}

/* Responsive Styles for Mobile Screens */
@media screen and (max-width: 768px) {
  .heading {
     padding: 0px 20px;
  }

  .heading h1 {
     font-size: 36px;
  }

  .heading p {
     font-size: 17px;
     margin-bottom: 0px;
  }

  .container {
     padding: 0px;
  }

  .about {
     padding: 20px;
     flex-direction: column;
  }

  .about-image {
     margin-right: 0px;
     margin-bottom: 20px;
  }

  .about-content p {
     padding: 0px;
     font-size: 16px;
  }

  .about-content .read-more {
     font-size: 16px;
  }
}


/* about us page */
  /* testimonial */
      
 /* Default styles for larger screens */
.testimonial {
  padding-top: 2px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), font-size 0.4s ease-in-out;
}

.testimonial .col-3 img {
  width: 70px;
  margin-top: 20px;
  border-radius: 50%;
  height: 70px;
}

.testimonial .col-3:hover {
  transform: scale(1.2);
  font-size: 14px;
}

.col-3 p {
  font-size: 16px;
  margin: 12px 0;
  color: #777777;
  transition: font-size 0.4s ease-in-out;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
  transition: font-size 0.4s ease-in-out;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: space-around;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4,
.col-5 {
  flex-basis: 100%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), font-size 0.4s ease-in-out;
}

.col-4 img,
.col-5 img {
  width: 100%;
}

.col-4:hover,
.col-5:hover {
  transform: none;
  font-size: 16px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 1024px) {
  .col-3 {
    flex-basis: 100%; 
  }
}

@media only screen and (max-width: 767px) {
  .col-3,
  .col-4,
  .col-5 {
    flex-basis: 100%; 
  }
}


/* ===========proop products / Featured product===========*/
.best-seller {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.best-seller .buy-now {
  flex: 1; 
  text-align: center; 
}


.seller h2 {
  margin-top: 65px;
  margin-bottom: 20px;
}

.seller .best-p1 {
  width: 250px;
  height: 370px;
}

.seller .best-p1 img {
  height: 250px;
  width: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  background-color: black;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out; 
}
.seller .best-p1 img:hover {
  transform: scale(1.1); 
}
.best-seller .buy-now a {
  text-decoration: none;
  color:black;
}

.seller a:hover {
  color:blue;
}

.best-seller .buy-now button {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: lightskyblue;
  color: black;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  transition: background-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.best-seller .buy-now button:hover {
  background-color: gray;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-weight: 400;
}

.best-seller .buy-now button:hover a {
  color: black;
}

.best-p1 p{
  text-align: center;
  padding-top: 4px;
}
/* media queries */
@media (max-width: 500px) {
  .best-seller {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.seller .best-p1 img{
  transition: transform 0.3s ease-in-out; 
}

.seller .best-p1 img:hover {
  transform: scale(1.1); 
}}

@media(min-width: 501px) and (max-width: 768px) {.best-seller {
  display: flex;
  flex-direction: column;
}
.seller .best-p1 img{
  transition: transform 0.3s ease-in-out; 
}

.seller .best-p1 img:hover {
  transform: scale(1.1); 
}}



/* ============footer=================== */
.footer-distributed {
  background: #0f151c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color:grey;
  font: normal 36px 'Open Sans';
  margin: 0;
}

.footer-distributed h3 span {
  color:grey;
}

/* Footer links */

.footer-distributed .footer-links {
  color:grey;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: grey;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  
  color: grey;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color:grey;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: grey;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color:grey;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color:black;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color:grey;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:black;
  border-radius: 2px;

  font-size: 20px;
  color:black;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;

  }

}
/* Home Banner sliding images and text content */
.home {
  min-height: 360px;
  background-position: cover;
  background-size: 80%;
  text-align: center;
  background-color: white;
  background-image: url(IMAGES/homepage.png);
}

.home-title {
  
  font-family: 'Poppins', sans-serif;
}

.home-text {
  color: black;
  margin-block: 15px 25px;
  font-family: 'Poppins', sans-serif;
}

.home-text,
.slide-container .prev,
.slide-container .next {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold; 
}

.home .btn {
  margin-inline: auto;
}

.home .btn:is(:hover, :focus) {
  background-color: var(--portland-orange);
}

.slide.fade {
  padding-top: 20px;
}

/* Dots Navigation */
.dots-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  margin-top: 20px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #A3672B;
}

.dots-container .dot.active {
  border: 5px solid lightblue;
}

.flex {
  display: flex;
}

/* Main Container and Slides */
.slide-container {
  position: relative;
  margin-bottom: 20px; 
}

.text-content {
  max-width: 55%;
  order: 0;
  margin-right: 20px; 
}
.text-content p{
  font-size: 19px;
}

.text-content h4{
  font-size: 24px;
}

.text-content h1 {
  color: #333333;
  line-height: 1.3;
  font-size:39px;
}
.shopnow-btn{
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
align-items: center;
display: inline-block;
font-weight: 550;

}
.shopnow-btn:hover{
  background-color:#A3672B;
  color: white;
  transition: transform 0.3s ease-in-out;  
}

.slide-container .slide {
  display: none;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* Decrease Image Size and Width */
.slide-container .slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* image slider */
/* Navigation Arrows */
.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 767px) {
  /* Mobile screens */
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .text-content {
    max-width: 100%;
    text-align: center;
    margin: 0; 
  }

  .slide-container {
    max-width: 100%;
    margin-right: 0; 
  }

  .dots-container {
    position: static;
    margin-top: 10px;
  }

  .slide-container .slide {
    max-width: 100%;
    margin-bottom: 20px;
  }

  /* Decrease Image Size for Mobile Screens */
  .slide-container .slide img {
    width: 100%; 
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /* Laptop screens and above */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-content {
    max-width: 45%;
    order: 0;
    margin-left: 80px;
    text-align: center;
  }

  .slide-container {
    max-width: 50%;
    order: 1;
    margin-right: 50px;
  }
}

  
/* product carousel */

.product-slider {
  background-color: white;
  padding : 0px 10px;
  box-sizing : border-box;
}

a {
  text-decoration: none;
}

.slider-heading {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px auto;
  padding: 0px 20px;
  text-align: center;
}

.slider-heading h3 {
  font-size: 1.75rem;
  color: black;
  font-weight: bold; 
  letter-spacing: 0.5px;
  line-height: 34px;
  align-items: center;
  margin: 0 auto;
}

.product-box {
  position: relative;
}
.product-box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
  transition: all .6s ease-in-out;
}
.product-box:hover::after{
  opacity: 1;
}

.product-box .overlay-text {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transition: color 0.6s ease-in-out;
}

.product-box:hover .overlay-text {
  color: white; 
}

.product-box img {
  width: 100%;
  height: 300px;
 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: white;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;

}
 .img-content p {
  font-size: 14px;
}
 .img-content button {
  border: none;
  /* background-color:black; */
  color: white;
  /* border-radius: 10px; */
  padding: 10px;
  transition: all 0.6s ease-in-out;
}


.product-box:hover .img-content {
  opacity: 1;
  top: 50%;
}
.img-content button{
  background: white;
color: black;
font-size: 12px;
border-radius: 25px;
}

.img-content button:hover {
  /* background: white;/ */
  color: black;
}

 .img-content button:hover ~ .img-content a {
  color:black;
}

.img-content a {
  text-decoration: none;
  font-size: 12px;
  color:black;
  transition: 0.3s;
  display: flex;
}

 .img-content a:hover {
  color:black;
}
.product-box img {
  width: 220px;
  height: 250px;
  display: flex;
  /* padding:  0px; */
  object-fit: contain;
  object-position: center;
  margin: 20px auto;

}

/* dot  */
.lSPager{
  display: block;
}
.lSAction >a{
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lSAction > a::after{
  position: absolute;
  content: '';
  margin: auto;
  border:solid white;
  border-width: 0px 4px 4px 0px ;
  display: inline-block;
  padding: 5px;
}
.lSAction > .lSPrev::after{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.lSAction > .lSNext::after{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* responsiveness */
@media(max-width:600px){
  .slider-heading h3{
      font-size: 21px;
  }
  .product-box{
      width: 310px;
      margin: 10px;
      box-sizing: border-box;
  }
  .product-box img{
      width: 160px;
      height: 190px;
      padding: 0px;
  }
 
  .lSAction > a{
      display: none;
  }
  .product-slider{
      padding: 0px;
  }
  
}

@media(max-width:400px){
  .product-box{
      width: 280px;

  }
}
@media(max-width:324px){
  .product-box{
      width: 225px;
  }
  .product-box img{
      width: 140px;
      height: 165px;

  }
  
}


/* showing results
 */
.result-text {
  background-color:white;
  padding: 10px; 
}
.result-text p {
  margin: 0; 
  font-weight: bold;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
  .result-text {
    position: static; 
    width: auto;
  }
}


/* ===========feature section /cta ==========*/
.feature-section {
  background-color: #001524;
  padding: 40px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
 
}

.feature-box {
  display: flex;
  align-items: center; 
  text-align: left;
  justify-content: space-evenly; /* space between icon and text */
  color: white;
  background-color: #1c2f3c;
padding:15px;
  border-radius:3px;
 
}

.feature-box i {
  font-size: 30px;
  margin-right: 10px;
  color: #8bc34a;
}
.feature-box h4{
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-right: 2px;
}
.feature-box h4,
.feature-box p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
.feature-section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-box {
  width: 48%; 
  margin-bottom: 20px;
  box-sizing: border-box; 
  word-wrap: break-word; 
}

.feature-box i {
  font-size: 24px; 
}

.feature-box h4 {
  font-size: 14px;
}

.feature-box p {
  font-size: 12px;
}
}


/* whatsapp chat button */

/* WhatsApp Chat Button Styles */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px; 
  height: 60px; 
  background-color: #25D366; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/* Media Query for WhatsApp Button on Mobile Screens */
@media only screen and (max-width: 767px) {
  .whatsapp-button {
    width: 50px; 
    height: 50px; 
    font-size: 18px; 
    bottom: 10px; 
    right: 10px; 
  }
}