@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

/* Reset and basic styles */ 
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
html, body{
  font-family: 'Poppins', sans-serif;
}
/* Header styles */
header {
  background-color:lightblue;
  color:#B27657;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 150px;
  width: 50px;
  height:50px;
  border-radius: 50px;
}

/* Navigation styles */
nav {
  background-color:#DFA67B;
  /* overflow: hidden; */
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
nav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Search bar styles */
.search-bar {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  margin-right: 50px;
  /* border-radius: 50px; */
}

.search-input {
  width: 100%;
  padding: 10px;
  /* border-radius: 50px; */
}

/* Search bar */
.search-box{
  width: 30%;
  background: #fff;
  /* margin:200px auto 0; */
  border-radius:20px;
  position: relative;
}
.row{
  display: flex;
  align-items: center;
  padding: 10px;
}
input{
flex: 1;
/* height: 50px; */
background:transparent;
border: 0;
outline: 0;
/* font-size: 18px; */
color: #333;

}
button{
  background: transparent;
  border: 0;
  outline: 0;
}
button .fa-solid{
  width: 25px;
  color: #555;
  /* font-size: 22px; */
  cursor: pointer;
}
::placeholder{
  color: #555;
}

.result-box ul{
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.result-box ul li{
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.result-box ul li:hover{
  background-color: #e9f3ff;
  color: black;
  font-weight: 600;
}
.border-top{
  border-radius: 20px 20px 0 0 !important;
}
/* width */
.result-box::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.result-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.result-box::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.result-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.result-box {
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  background: white;
  z-index: 999;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}

/* Dropdown styles */
.dropdown {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}
#input-box[type="text"]::placeholder {
  font-style: italic;
}

/* //........ Collections ........// */

.collections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
}

.collections p{
  color: white;
}
.content {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
  transition: all .6s ease-in-out;
}

.content:hover::after {
  opacity: 1;
}

.content img {
  width: 100%;
  height: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content p {
  font-size: 1.6rem;
}

.img-content button {
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  transition: all .6s ease-in-out;
}

.img-content a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
}

.img-content button:hover {
  background: var(--white);
  color: var(--primary-color);
}

.img-content button:hover~.img-content a {
  color: var(--primary-color);
}

.img-content a:hover {
  color: var(--primary-color);
}

.content:hover .img-content {
  opacity: 1;
  top: 50%;
}


/* //........ Content 2 ........// */

.content2 {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
  transition: all .6s ease-in-out;
}

.content2:hover::after {
  opacity: 1;
}

.content2 img {
  width: 100%;
  height: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content2 p {
  font-size: 1.6rem;
}

.img-content2 a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
}

.img-content2 button {
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  transition: all .6s ease-in-out;
}

.img-content2 button:hover {
  background: var(--white);
  color: var(--primary-color);
}

.img-content2 button:hover~.img-content2 a {
  color: var(--primary-color);
}

.img-content2 a:hover {
  color: var(--primary-color);
}

.content2:hover .img-content2 {
  opacity: 1;
  top: 50%;
}


/* //........ Content 3 ........// */

.content3 {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
  transition: all .6s ease-in-out;
}

.content3:hover::after {
  opacity: 1;
}

.content3 img {
  width: 100%;
  height: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-content3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content3 p {
  font-size: 1.6rem;
}

.img-content3 a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  transition: 0.3s;
}

.img-content3 button {
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  transition: all .6s ease-in-out;
}

.img-content3 button:hover {
  background: var(--white);
  color: var(--primary-color);
}

.img-content3 button:hover~.img-content3 a {
  color: var(--primary-color);
}

.img-content3 a:hover {
  color: var(--primary-color);
}

.content3:hover .img-content3 {
  opacity: 1;
  top: 50%;
}

.content3:hover .img-content3 {
  opacity: 1;
  top: 50%;
}


/* ==========About section==== */
.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;

}
.heading h1{
  font-size: 50px;
  color: #000;
  position: relative;
  margin-bottom: 25px;
}

.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color:lightskyblue;
}
.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px ;
  background-color:lightblue;
  /* border-radius: 50px; */
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  border-radius: 100px;
}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: all .6s ease-in-out;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color:black;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color:black;
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color:lightblue;
  color:black;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: all .6s ease-in-out;
}

.about-content .read-more:hover{
  background-color:lightblue;
  color:white;
}

.container-1{
  width: 100%;
  /* margin: 0 auto; */
  padding: 10px 20px ;
  /* background-color:lightblue; */
  /* border-radius: 50px; */
}

nav {
  display: block ;
  /* Add your other styles here */
}

/* Media query for responsive design */
@media screen and (max-width: 1024px) {
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    width: 100%;
  }
  .nav-show{
    display: block !important;
  }
  .search-box{
    width: 70%;
  }
  nav a {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .search-bar {
    max-width: 100%;
  }
}

/* Pagination links */
.pagination {
  align-items: center;
  display: flex;
  justify-content: center; 
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: all .6s ease-in-out;
}

.pagination a.active {
  background-color:lightblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

 /* product page */
  
 #product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px; 
}

.product-container {
  box-shadow:  4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  width: calc(33.333% - 40px);
  max-width: 300px;
  transition: all .6s ease-in-out;
  
}

.product-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-details {
  padding: 15px;
}

.buy-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 6px;
  background-color:lightskyblue;
  color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .6s ease-in-out;
}
.buy-button a{
  color:black;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  transition: all .6s ease-in-out;
}

.buy-button:hover {
  background-color:lightskyblue;
}

@media (max-width: 1024px) {
  .product-container {
    width: calc(25% - 40px);
  }
}

@media (max-width: 768px) {
  .product-container {
    width: calc(33.333% - 40px);
  }

 
} 

/* Mobile screens - 2 products in one row */
@media (max-width: 480px) {
  .product-container {
    width: calc(50% - 20px);
    margin: 10px;
  }

  #product-list {
    margin-top: 60px;
  }
}


/* Responsive Styles for Laptops and Medium Screens */
@media screen and (max-width: 1024px) {
  .about {
     flex-direction: column;
  }

  .about-image {
     margin-right: 0;
     margin-bottom: 20px;
  }
}

/* Responsive Styles for Mobile Screens */
@media screen and (max-width: 768px) {
  .heading {
     padding: 0px 20px;
  }

  .heading h1 {
     font-size: 36px;
  }

  .heading p {
     font-size: 17px;
     margin-bottom: 0px;
  }

  .container {
     padding: 0px;
  }

  .about {
     padding: 20px;
     flex-direction: column;
  }

  .about-image {
     margin-right: 0px;
     margin-bottom: 20px;
  }

  .about-content p {
     padding: 0px;
     font-size: 16px;
  }

  .about-content .read-more {
     font-size: 16px;
  }
}


/* about us page */
  /* testimonial */
      
  .testimonial {
    padding-top: 2px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .6s ease-in-out;
  }
  
  .testimonial .col-3 img {
    width: 70px;
    margin-top: 20px;
    border-radius: 50%;
    height: 70px;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  

  .btn:hover {
    background: #563434;
  }
  
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
    
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: all .6s ease-in-out;
  }
  
  .col-4 img {
    width: 100%;
  }


/* top products / best sellers*/
.best-seller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.best-seller .buy-now {
  flex: 1; 
  text-align: center; 
}


.seller h2 {
  margin-top: 65px;
  margin-bottom: 20px;
}

.seller .best-p1 {
  width: 250px;
  height: 370px;
  /* border: 2px solid black; */
}

.seller .best-p1 img {
  height: 250px;
  width: 250px;
}



.best-seller .buy-now a {
  text-decoration: none;
  color:white;
}

.seller a:hover {
  color:blue;
}

.best-seller .buy-now button,
.best-seller .add-cart button {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color:lightblue;
  color:white;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  /* border: 1px solid #f05e8a; */
  transition: all .6s ease-in-out;
}

.best-seller .buy-now button:hover{
  background-color: lightblue;
  font-weight: 600;
}

.best-seller .buy-now button:hover a {
  color:white;
}

/* media queries */
@media (max-width: 500px) {
  .best-seller {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best-seller img {
  padding-top: 40px;
}}

@media(min-width: 501px) and (max-width: 768px) {.best-seller {
  display: flex;
  flex-direction: column;
}
.best-seller img {
  padding-top: 40px;
}}


/* home banner */
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 400px; 
  background-color:white; 
  color: #fff;
}

.banner img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.text-content {
  max-width: 40%;
  text-align: left;
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.text-content a{
  padding: 10px;
 background-color:lightblue;
  border-radius: 15px;
    color:black;
    /* font-weight: bold; */
    text-decoration: none;
    
}

/* media query home banner */
@media (max-width: 768px) {

  .banner {
      flex-direction: column;
      height: auto; 
  }

  .banner img {
      max-width: 100%;
      margin-bottom: 20px;
  }

  .text-content {
    max-width: 100%;

    text-align: center;
  }
  
}

.footer-distributed {
  background: #EEEEEE;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color:grey;
  font: normal 36px 'Open Sans';
  margin: 0;
}

.footer-distributed h3 span {
  color:grey;
}

/* Footer links */

.footer-distributed .footer-links {
  color:grey;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: grey;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  
  color: grey;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color:grey;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: grey;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color:grey;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color:black;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color:grey;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:black;
  border-radius: 2px;

  font-size: 20px;
  color:black;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;

  }

}
